body{


}
.app-container{
 
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  
}

/*--------------NAVBAR----------*/

.navbar{
background-color: white;
  border-bottom: 1px solid grey;
  box-shadow: 4px 4px 8px grey;
  display: flex;
  justify-content: space-between;
  align-content: center;
padding: 0.5em 1em;

}
img{
  width: 50px;
  height: 50px;
  
}
.logo{
  height: 100%;
  width: auto;
  display: flex;
  align-content: center;
  
}
.logo>h1{
  padding: 0 0.5em;
  align-self: center;
  margin: 0;
  font-size: 1.8rem;
  color:#0A7BFF;
}

.logins{
 
  align-self: center;
}
.logins>a{
padding: 0 1em;
  text-decoration: none;
  
cursor: pointer;
color:#0A7BFF;
font-weight: 700;
}


/*--------------SIGNUP----------*/
.container{
 width: 80vw;
 margin: 1em auto;
 

}
.form-txt{
  text-align: center;
  font-size: 2rem;
  color:#0A7BFF;
}
form{
  
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: auto;
}
form input{
  margin-top: 1em;
  border:none;
  outline: none;
  padding: 1em;
  font-size: 1rem;
  background-color: white;
  border-bottom: 1px solid grey;
}
.btn{
  align-self: center;
  margin: 1em;
  
}
form p{
  margin: 0.5em 0;
  text-align: center;
}
.error{
  color: red;
  text-align: left;
  margin: 0;
  padding: 0.5em 1em;
  font-size: 0.9rem;
}
/*--------------HOME----------*/
.home-container{
  width: 90vw;
  max-width:1000px ;
  margin: 1em auto;
  
  
  display: grid;
  grid-template-columns: 1fr 25%;
  gap:15px;
}
@media (max-width:800px){
 .home-container{
   grid-template-columns: 1fr;
 }
}


/*--------------POSTS ----------*/
.posts-container{

}
/*--------------PROFIELCARD----------*/
.profile-card{
 background-color: #FFFFFF;
 padding: 1em;
 border-radius: 10px;
  text-align: center;
  border:1px solid white;
  box-shadow: 0 0 5px grey;
  height: auto;
  margin: 1em 0;
}
.profile-pic{
 margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border:1px solid grey;
}
.person-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;

}
.edit-pic{
  width: 100px;
  margin: auto;
  cursor: pointer;
  
  text-align: right;
}
.edit-profile{
  text-align: right;
  cursor: pointer;
}
@media (max-width:800px){
  .profile-card{
    display: none;
  }
}
.modal-flex{
  display: flex;
  flex-direction: column;
gap:5px;

}
.modal-flex input{
  width: 100%;
  border:none;
  border-bottom: 1px solid gray;
  outline: none;
}
.modal-flex input:focus{
  border-bottom: 1px solid #0A7BFF;
}
/*--------------TOOLTIP----------*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*--------------CREATE  POST----------*/
.create-post{
  box-shadow: 0 0 5px grey;
  border-radius: 5px;
  background-color: white;
 margin: 1em 0;
  padding: 1em;
  display:grid;
  grid-template-rows: auto 1fr auto auto;
}
.txt-area{
  width: 100%;
  outline: none;
  border: none;
}
.caption-upload-flex{
  display: flex;
  justify-content: space-between;

}
.icons{
  font-size: 1.5rem;
  color: #0A7BFF;
  cursor: pointer;
}
.icons:hover{
  color: lightskyblue;
}
.post-img-display{
  height: 80px;
  width: 80px;
  position: relative;
 
}
.post-img-display img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}
.post-img-display img:hover+.remove-img{
  display: inline;
}
.blur::after{
  content: "";
  position: absolute;
  z-index: -1;
  background:rgba(0,0,0,0.5);
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

}
.remove-img{
  color: red;
  font-weight: 900;
  position: absolute;
  cursor: pointer;
  right:10%;
  display: none;
}
.remove-img:hover{
  display: inline;
}
/*--------------POSTS----------*/
.single-post{
  margin: 1em 0;
  width: 100%;
  box-shadow: 0 0 5px gray;
  padding: 1em;
  border-radius: 5px;
  background-color: white;
 display:grid;
 grid-template-rows: auto auto auto;
 gap: 10px;

}
.post-author-details{
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.post-author-details>div{
  display: flex;
  text-transform: capitalize;
}
.post-author-img{
  height: 50px;
  width: 50px;
  margin-right: 0.5em;
}
.post-author-name{
 text-transform: capitalize;
  align-self: center;
  cursor: pointer;
}
.post-author-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.post-img{
 
  width: 100%;
 height: 400px;
}
.post-img img{
  height: 100%;
  width: 100%;
    object-fit: cover;
}
.post-caption{
  display: flex;

  align-content: center;
  padding: 0.2em 0;
}
.post-caption p{
  padding: 0;
  margin: 0;
  align-self: center;
 
 }
 .post-caption h4{
  padding: 0;
  margin: 0;
   
 }
 .view-comment{
   color: gray;
 }
 .post-comment-div{
   display: grid;
   grid-template-columns: auto 1fr auto;
  gap:10px;
  }
  .post-comment-pic{
    height: 30px;
    width: 30px;
   
  }
  .post-comment-pic img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .post{
    color: #0A7BFF;
    font-weight: 700;
    cursor: pointer;
  }
  .comment-input input{
    width: 100%;
    padding: 0.2em;
   
    outline: none;
    border:none;
  }
  .view-comment{
    cursor: pointer;
  }

  /*--------------COMMENTS----------*/
.comments-container{
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px gray;
  

  overflow: scroll;
 
}
.post-flex{
  display: flex;
  flex-direction: column;

}
.comments-grid{
  display: grid;
  grid-template-columns: auto 1fr;
  gap:10px;
  text-align: left;
  padding: 0 1em;
  padding-bottom: 0;
  margin:1em;

}
.post-comment{
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr auto;
  gap:10px;
}
.post-comment input{
  width: 100%;
  border-bottom: 1px solid gray;
}
hr{
  padding:0;
  margin: 0;
}
.comments-grid h4{
  padding:0;
  margin: 0;
}
.comments-grid p{
  padding:0.4em 0;
  margin: 0;
}
.timeStamp{
  color: gray;
  padding:0;
  margin: 0;
  font-size: 0.8rem;
}
  /*--------------ACCORDION----------*/

  .tabs{
    width: 100%;
  margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    box-shadow: 0 0 5px gray;
    border-radius: 5px;
   cursor: pointer;
  }
  .tab{
    font-weight: 700;
    text-align: center;
   color: #0A7BFF;
    padding: 1em;
   
  }
  .active{
    border-bottom: 4px solid #0A7BFF;
  }
  .accordion-content-div{
  
    width: 100%;
    
  }
.accordion-content{
  width: 100%;
  margin: 1em 0;

}


#followers{
  display: none;
  grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
   gap:80px;
}
#following{
  display: none;
  grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
  gap:80px;
}
.followers-div{
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-content: center;
 cursor: pointer;
}
.followers-div h4{
  align-self: center;
}
.followers-div div{

 border-radius: 50%;
 
}
.followers-div img{
  border-radius: 50%;
height: 100%;
width: 100%;
object-fit: cover;
background-color: #0A7BFF;
}

